<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <!-- the controller value has the format 'controller_class::method_name' with double colon (::) since Symfony 4.1 -->
    <!-- voltel: we'll allow the user to choose the "path prefix" -->
    <route id="knpu_lorem_ipsum_api" path="/"
           controller="knpu_lorem_ipsum.ipsum_api_controller:api_index"/>

    <!-- if the action is implemented as the __invoke() method of the
         controller class, you can skip the '::method_name' part:
         controller="App\Controller\BlogController"/> -->
</routes>